amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
certifi==2017.11.5
chardet==3.0.4
Django==1.9.8
django-celery==3.2.2
django-crispy-forms==1.7.0
django-formtools==2.1
django-kombu==0.9.4
httplib2==0.9.2
idna==2.6
kombu==3.0.37
MySQL-python==1.2.5
olefile==0.44
Pillow==4.3.0
PyMySQL==0.7.11
pytz==2017.3
requests==2.18.4
urllib3==1.26.5
vine==1.1.4
uwsgi==1.4.10
